
[submodule "libs/Celer"]
	path = libs/Celer
	url = git@github.com:felipeCeler/celer-sources.git
[submodule "libs/Ires"]
	path = libs/Ires
	url = git@bitbucket.org:celer/iresv2.git
[submodule "libs/LCG"]
	path = libs/LCG
	url = git://git.lcg.ufrj.br/vitorandrade/shader-lib.git
