[submodule "libs/Ires"]
	path = libs/Ires
	url = git@bitbucket.org:evitalbrazil/iresv2.git
[submodule "libs/LCG"]
	path = libs/LCG
	url = git@git.lcg.ufrj.br:vitorandrade/shader-lib.git
[submodule "libs/Celer"]
	path = libs/Celer
	url = https://github.com/felipeCeler/celer-sources.git
